imports = {
    base: ('variables' 'functions' 'mixins' 'abstractions' 'helpers' 'reset'),
    themes: ('default'),
    layout: ('header' 'navigation' 'content' 'footer'),
    component: ()
}

// IMPORT STYLES
for namespace, files in (imports) {
    for file in (files) {
        @import pathjoin(namespace, file);
    }
}

// EXPORT REGULAR STYLES (NOT RESPONSIVE)
+prefix-classes(app.info.prefix) {
    export(app.exports.regular);
}

// EXPORT RESPONSIVE STYLES
for breakpoint in (app.responsive.breakpoint) {
    +prefix-classes(app.info.prefix) {
        +set-breakpoint(breakpoint) {
            export(app.exports.responsive, breakpoint);
        }
    }
}