imports = {
    base: ('variables' 'functions' 'mixins' 'helpers' 'reset')
}

for namespace, files in (imports) {
    for file in (files) {
        @import pathjoin(namespace, file);
    }
}

for breakpoint in (app.responsive.breakpoint) {
    +prefix-classes(app.info.prefix) {
        +set-breakpoint(breakpoint) {
            for helper in (app.helper) {
                init-helper-{helper}(breakpoint);
            }
        }
    }
}