$anchor-button-abstract {
    &[href] {
        text-decoration: none;
        outline: none;

        &:visited {
            color: inherit;
        }

        &:active {
            color: inherit;
        }
    }
}