/**
*   @name to-unit
*   @desc
*
*   @param {Number} Value
*/
to-unit(value, unit = app.responsive.unit) {
    if (value == 0) {
        return value;
    }

    if (unit == rem) {
        value /= 10;
    }

    return s('%s%s', value, unit);
}

to-negative(value) {
    return 0 - value;
}

is(target, expected) {
    return target == expected;
}
