/**
*   @name to-unit
*   @desc Convert to unit depending of app.responsive.unit
*   using the function helps easly to switch app.responsive.unit value between rem -> px
*
*   @param {Number} Value
*   @param {CSS Promerty} unit (opt)
*/
to-unit(value, unit = app.responsive.unit) {
    if (typeof(value) == string) {
        error('Cannot parse string to-unit');
    }

    if (value == 0) {
        return value;
    }

    if (unit == rem) {
        value /= 10;
    }

    return s('%s%s', value, unit);
}

/**
*   @name to-negative
*   @desc Return the negative value
*
*   @param {Number} value
*/
to-negative(value) {
    if (typeof(value) == string) {
        error('Cannot set string to-negative');
    }

    return 0 - value;
}

/**
*   @name is
*   @desc Compare if both arguments are equal and return boolean
*
*   @param {Any} target
*   @param {Any} expected
*/
is(target, expected) {
    return target == expected;
}

/**
*   @name mutiply
*   @desc multiply a given value
*
*   @param {Nunmber} value
*/
multiply(value) {
    return value * 2;
}

/**
*   @name divide
*   @desc divide a given value
*
*   @param {Nunmber} value
*/
divide(value) {
    return value / 2;
}