app.helper = {
    display: {
        type: ('block' 'inline-block' 'flex' 'table' 'table-cell'),
        property: {
            table: {
                table-layout: ('fixed' 'auto')
            },
            flex: {
                flex-direction: ('row' 'row-reverse' 'colum' 'column-reverse'),
                flex-wrap: ('wrap' 'nowrap' 'wrap-reverse'),
                justify-content: ('flex-start' 'flex-end' 'center' 'space-around' 'space-between')
            }
        }
    },
    aligning: {
        horizontal: ('left' 'center' 'right'),
        vertical: ('top' 'middle' 'bottom')
    },
    spacing: {
        margin: ('top' 'right' 'bottom' 'left' 'center'),
        padding: ('top' 'right' 'bottom' 'left')
    },
    positioning: {
        type: ('static' 'relative' 'absolute' 'fixed'),
        side: ('top' 'right' 'bottom' 'left')
    },
    heading: {
        count: 6,
        font: {
            size: (36 30 24 20 16 15)
        }
    }
};

// DISPLAY
init-helper-display(breakpoint-name, display-types = app.helper.display.type) {
    for display-type in (display-types) {
        // TABLE OPTIONS
        if (is(display-type, 'table')) {
            for property, values in (app.helper.display.property.table) {
                for value in (values) {
                    .{property}-{value}-{breakpoint-name} {
                        {property}: unquote(value);
                    }
                }
            }
        }

        // FLEX property
        if (is(display-type, 'flex')) {
            for property, values in (app.helper.display.property.flex) {
                for value in (values) {
                    .{property}-{value}-{breakpoint-name} {
                        {property}: unquote(value);
                    }
                }
            }
        }

        .{display-type}-{breakpoint-name} {
            display: unquote(display-type);
        }
    }
}

// WIDTH
init-helper-width(breakpoint-name) {
    for value in (app.constant.full..app.grid.length) {
        .width-{value}-{breakpoint-name} {
            width: percentage(app.constant.full / value);
        }

        .view-width-{value}-{breakpoint-name} {
            width: percentage(app.constant.full / value);
        }
    }

    .max-width-{breakpoint-name} {
        max-width: to-unit(app.responsive.breakpoint[breakpoint-name]);
    }

    .width-auto-{breakpoint-name} {
        width: auto;
    }
 }

// HEIGHT
init-helper-height(breakpoint-name) {
    for value in (app.constant.full..app.grid.length) {
        .view-height-{value}-{breakpoint-name} {
            height: to-view-port(100 / value, vh);
        }

        .height-{value}-{breakpoint-name} {
            height: percentage(app.constant.full / value);
        }
    }

    .height-auto-{breakpoint-name} {
        height: auto;
    }
}

// ALIGN
init-helper-aligning(breakpoint-name) {
    for type, values in (app.helper.aligning) {
        for value in (values) {
            .align-{value}-{breakpoint-name} {
                type = type == vertical ? type : text;

                {type}-align: unquote(value);
            }
        }
    }
}

// SPACING
init-helper-spacing(breakpoint-name) {
    for type, values in app.helper.spacing {
        for value in (values) {
            .{type}-{value}-{breakpoint-name} {
                if (type == margin && value == center) {
                    margin-left: auto;
                    margin-right: auto;
                } else {
                    {type}-{value}: to-unit(app.grid.spacing);
                }
            }

            .{type}-all-{breakpoint-name} {
                {type}: to-unit(app.grid.spacing);
            }
        }
    }
}

// POSITIONING
init-helper-positioning(breakpoint-name) {
    for key, values in app.helper.positioning {
        for value in (values) {
            .{value}-{breakpoint-name} {
                if (key == side) {
                    {value}: app.constant.zero;
                } else {
                    position: unquote(value);
                }
            }
        }
    }
}

// HEADING
init-helper-heading() {
    for heading-size, heading-index in (app.helper.heading.font.size) {
        .heading-{heading-index + 1} {
            font-size: to-unit(heading-size);
        }
    }
}

// COMMON
init-helper-common() {
    .wrapper {
        width: percentage(app.constant.full);
        padding-left: to-unit(app.grid.spacing);
        padding-right: to-unit(app.grid.spacing);
    }
}

app.exports.responsive.helper = ('display' 'aligning' 'spacing' 'positioning' 'width' 'height');
app.exports.regular.helper = ('common' 'heading');