set-breakpoint(breakpoint, condition = min-width, device = screen) {
    if (app.responsive.breakpoint[breakpoint]) {
        query = s('%s and (%s: %spx)', device, condition, app.responsive.breakpoint[breakpoint]); 

        @media query {
            block;
        }
    } else {
        error('Undefined breakpoint "' + breakpoint + '"');
    }
}

export(exports, options = null) {
    for export, modules in (exports) {
        for module in (modules) {
            if (options) {
                init-{export}-{module}(options);
            } else {
                init-{export}-{module}();
            }
        }
    }
}