html, body,
div, span
main, section, article, footer,
nav, ul, li, a {
    margin: to-unit(app.constant.zero);
    padding: to-unit(app.constant.zero);
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}