app = {
    info: {
        prefix: 'ui-',
        version: '1.0.0',
        author: 'idmitrov',
        license: 'MIT'
    },
    constant: {
        zero: 0,
        half: .5,
        full: 1
    },
    responsive: {
        unit: rem,
        breakpoint: {
            extra-small: 320,
            small: 480,
            medium: 768,
            large: 1024,
            extra-large: 1280
        }
    },
    grid: {
        length: 10,
        spacing: 10,
    },
    exports: {
        regular: {},
        responsive: {}
    }
}
