app = {
    info: {
        prefix: 'ui-',
        version: '1.0.0',
        author: 'idmitrov',
        license: 'MIT'
    },
    constant: {
        zero: 0,
        half: .5,
        full: 1,
        small: 'small',
        large: 'large'
    },
    responsive: {
        unit: rem,
        breakpoint: {
            mobile: 320,
            tablet: 768,
            desktop: 1024
        }
    },
    grid: {
        length: 10,
        spacing: 10,
    },
    color: {
        success: '#0F0',
        error: '#F00',
        default: '#EEE'
    },
    exports: {
        regular: {},
        responsive: {}
    }
}
